body {
	background-image:url("../Imagenes/FONDOWEB.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
	color:white; 
}
div {
	height:200px;
	width: 500px;
}
div {
	margin: auto;
	padding-top:250px;
}
ul {
	font-size: 50px;
}
video {
	height: 400px;
	padding-left: 550px;
}
h3 {
	padding-left: 750px;
	font-size: 80px;
}
img{
	font-size:1000px;
	padding-left:850px;
	padding-top:350px;
}
h2 {
	font-size:80px;
	padding-left:850px;
}
.div1 {
	font-size:40px; 
}
.img1 {
	padding-left:900px;
	padding-top:350px;
	font-size:5000px;
}
.img2 {
	padding-left:800px;
	padding-top:350px;
}
.img3{
	padding-top:10px;
	padding-left:600px;
}