body {
    background-image:url("../Imagenes/FONDOWEB.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white; 
}
.img {
	padding-left: 790px;
}
div {
	padding-left:500px;
	font-size:40px;
	padding-right:600px;
}
h1 {
	padding-left:850px;
	font-size:80px;
}
h2 {
	padding-left:745px;
	font-size:80px;
}
h3 {
	padding-left:850px;
	font-size:80px;
}
h4 {
	padding-left:650px;
	font-size:80px;
}
h5 {
	padding-left:800px;
	font-size:80px;
}
li {
	font-size: 50px;
}
.img1 {
	padding-left:650px;
}
.img2 {
	padding-left:750px;
}
.img3{
	padding-left:600px;
	padding-top:10px; 
}
