body {
	background-image:url("../Imagenes/FONDOWEB.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
	color:white; 
}
div {
	height:200px;
	width: 500px;
}
div {
	margin: auto;
	padding-top:250px;
}
ul {
	font-size: 50px;
}
video {
	height: 400px;
	padding-left: 550px;
}
h3 {
	padding-left: 750px;
	font-size: 80px;
}
h1 {
	font-size:50px;
	padding-left:750px;
}
dt {
	font-size: 30px;
	padding-left: 550px;
}
dd {
	font-size: 30px;
	padding-left: 550px;
}
h4 {
	padding-left: 500px;
	font-size: 30px;
}
.div1 {
	font-size:40px; 
}
.img1 {
	padding-left:900px;
	padding-top:350px;
	font-size:5000px;
}
.img2 {
	padding-left:800px;
	padding-top:350px;
}
.img3{
	padding-top:10px;
	padding-left:600px;
}
.tg {
	text-align: center;
	margin: 0 auto;
	text-align: left;
}
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-q3qy{background-color:#fcff2f;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-hz1a{background-color:#fcff2f;border-color:#ffffff;color:#000000;text-align:left;vertical-align:top}
.tg .tg-tizx{background-color:#000000;border-color:#ffffff;color:#ffffff;text-align:left;vertical-align:top}

